*.[ao]
*.l[ao]
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
build-aux/mkinstalldirs
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool
m4
stamp-h1
test/test-skeleton
test/test-skeleton.sh
osinfo/libosinfo.pc
osinfo/Libosinfo-1.0.gir
osinfo/Libosinfo-1.0.typelib
*.gcno
*.gcda
coverage/
*.spec
*.pc
test/test-device
test/test-os
test/test-entity
test/test-hypervisor
test/test-list
test/test-db
test/test-devicelist
test/test-filter
test/test-hypervisorlist
test/test-loader
test/test-productfilter
test/test-oslist
test/test-product
test/test-platform
test/test-platformlist
test/test-isodetect
test/test-mediauris
test/test-treeuris
build/
gtk-doc.make
data/pci.ids
data/usb.ids
tools/osinfo-detect
tools/osinfo-db-validate
tools/osinfo-db-validate.exe
tools/osinfo-db-validate.1
