*.[ao]
*.l[ao]
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.cache
config.h
config.h.in
config.log
config.status
configure
libtool
m4
stamp-h1
test/test-skeleton
test/test-skeleton.sh
osinfo/libosinfo.pc
osinfo/Libosinfo-1.0.gir
osinfo/Libosinfo-1.0.typelib
*.gcno
*.gcda
coverage/
*.spec
*.pc
test/test-device
test/test-os
test/test-entity
test/test-hypervisor
test/test-list
build/
